@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter_Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(107, 93, 76, 0.5)),
    url("./images/p3r_bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.chatbot-container {
  width: 70%;
  max-width: 900px;
  min-width: 500px;
  height: 800px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.7rem;
  overflow: hidden;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.chatbot-name {
  background: linear-gradient(
    to bottom,
    rgba(255, 203, 91, 0.8),
    rgb(255, 203, 91)
  ); /* Subtle gradient from a lighter shade */
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  text-shadow: -1px -1px 0 white, /* Top-left shadow */ 1px -1px 0 white,
    /* Top-right shadow */ -1px 1px 0 white,
    /* Bottom-left shadow */ 1px 1px 0 white; /* Bottom-right shadow */
}

.chat-container {
  background: rgba(3, 39, 76, 0.8);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.prompts-container {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 4rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.chat-prompt {
  background: rgb(255, 203, 91);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
}

/* Custom scrollbar */
.chat-container::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

.chat-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
  background: transparent; /* Button color */
}

.chat-container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 6px; /* Rounded corners for the thumb */
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 203, 91); /* Thumb color on hover */
}

.chat-container::-webkit-scrollbar-button {
  background: transparent; /* Button color */
}

.typing-container {
  background: linear-gradient(
    to bottom,
    rgba(255, 203, 91, 0.8),
    rgb(255, 203, 91)
  ); /* Subtle gradient from a lighter shade */
  width: 100%;
  align-items: center;
  padding: 1rem;
  border-top: 2px solid black;
}

.typing-textarea {
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.typing-content {
  display: flex;
  background: white;
  width: 100%;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
}
#chat-input {
  width: 100%;
  resize: none;
  border: none;
  background: white;
  outline: none;
  padding-top: 1rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}

#send-btn {
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.chat-content,
.response-content {
  max-width: 100%;
  overflow-wrap: break-word;
  animation: fadeInUp 0.2s ease-in-out;
}

.chat-content {
  display: flex;
  justify-content: end;
}

.response-inner-body {
  /* max-width: 80%; */
  display: flex; /* Use flexbox for layout */
  overflow-wrap: break-word;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  color: black;
}

.ai-image {
  width: 110px;
  height: 110px;
  display: inline-block;
}

.user-image {
  width: 90px;
  height: 90px;
  display: inline-block;
}
.response-text {
  background: rgb(247, 224, 175);
  color: black;
  display: inline-block;
  /* max-width: 70%; */
  overflow-wrap: break-word;
  margin: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  line-height: 2rem;
  padding-inline: 1.5rem;
}

.user-text {
  background: rgb(140, 226, 252);
  color: black;
  display: block;
  /* max-width: 70%; */
  overflow-wrap: break-word;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  padding-inline: 1.5rem;
}

.user-text p {
  color: white;
}
.chat-inner-body {
  /* max-width: 80%; */
  display: flex; /* Use flexbox for layout */
  overflow-wrap: break-word;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-right: 0;
  color: white;
  justify-content: end;
  flex: 1;
}

li {
  margin-left: 20px; /* Adjust the value as needed */
}
@media (max-width: 800px) {
  .chatbot-container {
    padding: 0;
    position: static;
    transform: none;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}
